/* default colors */
$color-text: #000;
$color-text-contrast: #fff;
$color-text-muted: #37474f;
$color-text-link: #00e;
$color-border: #000;
$color-background: #fff;
$color-danger: #b71c1c;

/* fonts */
$font-family-primary: 'Lato', helvetica neue, helvetica, arial, sans-serif;
$font-family-secondary: georgia, times new roman, times, serif;
$font-size-base: 20px;
$letter-spacing-base: 0;
$line-height-base: 1.3;

/* z-indexes */
$z-index-0: 0;
$z-index-1: 1;
$z-index-2: 10;
$z-index-3: 100;
$z-index-4: 1000;
$z-index-5: 10000;
