.hotelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .hotelWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

    .bookNow {
      position: absolute;
      top: 10px;
      right: 0;
      border: none;
      padding: 10px 20px;
      background-color: #0071c2;
      color: white;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
    }

    .hotelTitle {
      font-size: 24px;
    }

    .hotelAddress {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 12px;
    }

    .hotelDistance {
      color: #0071c2;
      font-weight: 500;
    }

    .hotelPriceHighlight {
      color: #008009;
      font-weight: 500;
    }

    .hotelImages {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .hotelImgWrapper {
        width: 33%;

        .hotelImg {
          width: 100%;
          object-fit: cover;
          cursor: pointer;
        }
      }
    }

    .hotelDetails {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      margin-top: 20px;

      .hotelDetailsTexts {
        flex: 3;

        .hotelDesc {
          font-size: 14px;
          margin-top: 20px;
        }
      }

      .hotelDetailsPrice {
        flex: 1;
        background-color: #ebf3ff;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        & > h1 {
          font-size: 18px;
          color: #555;
        }

        & > span {
          font-size: 14px;
        }

        & > h2 {
          font-weight: 300;
        }

        & > button {
          border: none;
          padding: 10px 20px;
          background-color: #0071c2;
          color: white;
          font-weight: bold;
          cursor: pointer;
          border-radius: 5px;
        }
      }
    }
  }

  .slider {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 61.3%);
    z-index: 999;
    display: flex;
    align-items: center;

    .close {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 30px;
      color: lightgray;
      cursor: pointer;
    }

    .arrow {
      margin: 20px;
      font-size: 50px;
      color: lightgray;
      cursor: pointer;
    }

    .sliderWrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .sliderImg {
        width: 80%;
        height: 80vh;
      }
    }
  }
}
