.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;

  .headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0 100px;

    &.listMode {
      margin: 20px 0 0;
    }

    .headerList {
      display: flex;
      gap: 40px;
      margin-bottom: 50px;

      .headerListItem {
        display: flex;
        align-items: center;
        gap: 10px;

        &.active {
          border: 1px solid white;
          padding: 10px;
          border-radius: 20px;
        }
      }
    }

    .headerDescription {
      margin: 20px 0;
    }

    .headerBtn {
      background-color: #0071c2;
      color: white;
      font-weight: 500;
      padding: 10px;
      cursor: pointer;
    }

    .headerSearch {
      height: 30px;
      background-color: white;
      border: 3px solid #febb02;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 10px 0;
      border-radius: 5px;
      position: absolute;
      bottom: -25px;
      width: 100%;
      max-width: 1024px;

      .headerSearchItem {
        display: flex;
        align-items: center;
        gap: 10px;

        .headerIcon {
          color: lightgray;
        }

        .headerSearchInput {
          border: none;
          outline: none;
        }

        .headerSearchText {
          color: lightgrey;
          cursor: pointer;
        }

        .options {
          position: absolute;
          top: 50px;
          background-color: white;
          color: grey;
          border-radius: 5px;
          box-shadow: 0 00 10px -5px rgb(0 0 0 / 400%);
          z-index: 2;

          .optionItem {
            width: 200px;
            display: flex;
            justify-content: space-between;
            margin: 10px;

            .optionCounter {
              display: flex;
              align-items: center;
              gap: 10px;
              font-size: 12px;
              color: black;

              .optionCounterButton {
                width: 30px;
                height: 30px;
                border: 1px solid #0071c2;
                color: #0071c2;
                cursor: pointer;
                background-color: white;

                &:disabled {
                  cursor: not-allowed;
                }
              }
            }
          }
        }

        .date {
          position: absolute;
          top: 50px;
          z-index: 2;
        }
      }
    }
  }
}
